.button-return_place_header {
	margin: 0;
	padding: 0;
	max-height: 22px;
	max-width: 114px;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
	justify-self: start;
}

@media screen and (max-width: 560px) {
	.button-return_place_header {
		max-width: 89px;
		max-height: 17px;
		margin: 0 30px auto auto;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
	}
}
