.popup__button {
  width: 358px;
  height: 50px;
  margin: 18px auto 36px auto;
  padding: 0;
  background-color: #000;
  border-radius: 2px;
  border: 0;
  color: #fff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.popup__button:hover {
  opacity: 0.8;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

@media screen and (max-width: 560px) {
  .popup__button {
    width: 238px;
    height: 46px;
    margin: 15px auto 0 auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}
