.popup__form_edit_profile {
    width: 430px;
    min-height: 330px;
}

@media screen and (max-width: 560px) {
    .popup__form_edit_profile {
        width: 282px;
        min-height: 322px; 
    }
}