@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/main/main.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-img/profile__avatar-img.css);
@import url(./blocks/profile/__avatar-btn/profile__avatar-btn.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__button/profile__button.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__work/profile__work.css);
@import url(./blocks/profile/__info-text/profile__info-text.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__button-like/element__button-like.css);
@import url(./blocks/element/__button-like/_active.css/element__button-like_active.css);
@import url(./blocks/element/__like-counter/element__like-counter.css);
@import url(./blocks/element/__button-delete/element__button-delete.css);
@import url(./blocks/element/__img/element__img.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__wrapper/element__wrapper.css);
@import url(./blocks/element/__wrapper-btn/element__wrapper-btn.css);
@import url(./blocks/element/__link/element__link.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__value/popup__value.css);
@import url(./blocks/popup/__value/_type/popup__value_type_error.css);
@import url(./blocks/popup/__img/popup__img.css);
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/__figure/popup__figure.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(./blocks/popup/__button-close/popup__button-close.css);
@import url(./blocks/popup/__input-wrapper/popup__input-wrapper.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__form/_edit/popup__form_edit_cards.css);
@import url(./blocks/popup/__form/_edit/popup__form_edit_profile.css);
@import url(./blocks/popup/__form/_edit/popup__form_edit_delete-card.css);
@import url(./blocks/popup/__form/_edit/popup__form_edit_avatar.css);
@import url(./blocks/popup/_edit/popup_edit_img.css);
@import url(./blocks/popup/_edit/popup_edit_cards.css);
@import url(./blocks/popup/_edit/popup_edit_profile.css);
